<ul>
    <li><a href="/">Express Movies</a></li>
    <li><a href="/movies">Films</a></li>
    <li><a href="/movie-search">Recherche</a></li>
    <li id="connectionLink"><a href="/login"></a></li>

</ul>