<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies search</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <%- include('./partials/header') %>

        <h1>Votre recherche sur <em></em>movie Les détails du film
            <%= movieId %> :
                <%= movietitle %>
        </h1>


        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>


</body>

</html>